
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
  <title th:text="#{email.newuser.title}">New Account Password</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  <style>
    .password-box {
      display: inline-block;
      padding: 10px 20px;
      background-color: #f2f2f2;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      color: #333;
    }
  </style>
</head>
<body>
<p th:text="#{email.newuser.greeting(${user.firstName})}">Dear User,</p>

<p th:text="#{email.newuser.text1}">
  Your account has been created successfully. Please use the following password to log in:
</p>

<p class="password-box" th:text="${password}">TEMP_PASSWORD</p>

<p th:text="#{email.newuser.text2}">

</p>

<p>
  <span th:text="#{email.newuser.text3}">Regards, </span>
  <br />
  <em th:text="#{email.signature}">.</em>
</p>
</body>
</html>
