<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
  <title th:text="#{email.reset.title}">Password Reset</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.reset.greeting(${user.login})}">Dear XXX,</p>

<p th:text="#{email.reset.text1}">
  A request to reset your password has been processed.

</p>
<p th:text="#{email.reset.text3}">
  Please use the link below to set your new password:</p>
<p>
<p>
  <a th:with="url=(@{|${baseUrl}/#/reset-password?key=${user.resetKey}|})"
     th:href="${url}"
     th:text="${url}">Reset link</a>
</p>

<p th:text="#{email.reset.text2}">
  For security reasons, contact our support team immediately if you didn’t request this change, or have any issues.
</p>

  <span th:text="#{email.signature}">Asklepios Team</span>
</p>
</body>
</html>
